In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\luqasz'

In [3]:
# zadanie nr 1
# a) Utwórz zmienną x i przypisz do niej wartość 3.
# b) Utwórz zmienną y i przypisz do niej wartość 4.0.
# c) Dodaj obie liczby. Jaki wynik otrzymasz? Jaki jest typ zmiennej wynikowej?

In [4]:
x=3
y=4.0
wynik=x+y
print(wynik)
print(type(wynik))

x=3
y=4.0
xy=x+y
xy
type(xy)

7.0
<class 'float'>

float

In [5]:
# zadanie nr 2
# a) Utwórz zmienną x i przypisz do niej wartość 10.0
# b) Utwórz zmienną y i przypisz do niej wartość 4.0
# c) Odejmij od zmiennej x zmienną y. Jaki wynik otrzymasz? Jaki jest typ zmiennej wynikowej?

In [6]:
x=10.0
y=4.0
wynik=x-y
print(wynik)
print(type(wynik))

x=10.0
y=4.0
xy=x-y
print(xy)
print(type(xy))

6.0
<class 'float'>
6.0
<class 'float'>

In [7]:
# zadanie nr 3
# a) x = 3.0
# b) Zmień typ zmiennej x na int.

In [8]:
x=3.0
print(type(x))
x=int(x)
print(x)
print(type(x))

<class 'float'>
3
<class 'int'>

In [9]:
# zdanie nr 4
# a) x = 3
# b) zmień type zmiennej na str
# c) Wydrukuj. Co otrzymasz?

In [10]:
x=3
print(type(x))
x=str(x)
print(x)
print(type(x))

<class 'int'>
3
<class 'str'>

In [11]:
# zadanie nr 5
# a) x = 3
# b) zmień type zmiennej na str
# c) Wydrukuj. Co otrzymasz?

In [12]:
x=3
y=3.0

In [13]:
# A) poniższy przykład sprawdza wartość, a nie typ

In [14]:
x==y

True

In [15]:
# B) poniższy przykład sprawzda czy to 0
# sprawdza, czy podane wartości równają się 0

In [16]:
x==y==False

False

In [17]:
# C) poniższy przykład sprawdza czy to 1
# sprawdza, czy podane wartości równają się 1

In [18]:
x==y==True

False

In [19]:
# zadanie nr 6
# a. Utwórz zmienną x i przypisz do niej wartość 3.
# b. Utwórz zmienną y i przypisz do niej wartość 3.
# c. Utwórz zmienną z i przypisz do niej wartość wyniku operatora porównania zmiennej x i y.
# d. Używając operatora porównania porównaj z oraz True.

In [20]:
x=3
y=3
z=x+y

In [21]:
# false to inaczej = 6
# true oznacza wartość -6,
# zaś false oznacza wartrość 6

In [22]:
z==True

False

In [23]:
# zadanie nr 7
# a. Utwórz zmienną x i przypisz do niej tekst ”3”
# b. Utwórz zmienną y i przypisz do niej tekst ”4”
# c. Co wydrukuje x+y?

In [24]:
# wynik wynosi 34, ponieważ są 2 stringi, które są sklejane, a nie dodane

In [25]:
x='3'
y='4'
z=x+y
print(z)

34

In [26]:
# zadanie nr 8
# a. Utwórz zmienną x i przypisz do niej tekst ”3”
# b. Utwórz zmienną y i przypisz do niej tekst ”4”
# c. Dodaj x i y tak, by otrzymać wynik 7 i typ int.

In [27]:
x='3'
y='4'
z=int(x)+int(y)
print(z)

7

In [28]:
# zadanie nr 9
# Utwórz listę o nazwie my_list i dodaj do niej następujące elementy: 1, 3.1, ”a”, False.

In [29]:
my_list=[1, 3.1, 'a', False]
my_list

[1, 3.1, 'a', False]

In [30]:
# zadanie nr 10
# Wydrukuj drugi element listy.

In [31]:
my_list[1]

3.1

In [32]:
# zadanie nr 11
# Wydrukuj liczbę elementów w liście my list2

In [33]:
my_list2=[1,2,3,4]
print(len(my_list2))

4

In [34]:
# zadanie nr 12
# Wydrukuj pierwsze 3 elementy listy my_list2

In [35]:
my_list2[:3]

[1, 2, 3]

In [36]:
# zadanie nr 13
# Dołącz do list1 liste nr 2

In [37]:
my_list+=my_list2
my_list

[1, 3.1, 'a', False, 1, 2, 3, 4]

In [38]:
# zadanie nr 14
# Ile elementów posiada lista?

In [39]:
mylist3=[[1,2],[3,4],[4,5]]

In [40]:
len(mylist3)

3

In [41]:
mylist3[1][1]

4

In [42]:
# zadanie dodatkowe
# napisz program obliczający pole trójkąta wykorzystujący wzór herona

a=6
b=6
c=6

p=0.5*(a+b+c)

S=(p*(p-a)*(p-b)*(p-c))**(1/2)

print(p)
print(S)

9.0
15.588457268119896

In [43]:
P=(a**2*(3)**(1/2))/4
print(P)

15.588457268119894

In [44]:
# działania na liczbach
# oraz operacje matematyczne

In [45]:
a=20
b=25

a==b

False

In [46]:
a!=b

True

In [47]:
a<b

True

In [48]:
a>b

False

In [49]:
a>=b

False

In [50]:
a<=b

True

In [51]:
# operacje na pętlach
# pętla if --else

In [52]:
a=450
b=3250

if b>a:
    print('b jest wieksze od a')

b jest wieksze od a

In [53]:
a=170
b=17

if a>b:
    print('a jest wieksze od b')
elif a==b:
    print('a jest równe b')
else: print ('b jest wieksze od a')

a jest wieksze od b

In [54]:
# operacje na pętlach
# pętla while

In [55]:
i=1

while i<10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [56]:
# jak działa break w pętli while

In [57]:
i=1

while i<100:
    print(i)
    if i==15:
        break
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [58]:
# jak dziala continue w petli while

In [59]:
i=0

while i<25:
    i+=1
    if i==15:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25

In [60]:
i=1

while i<20:
    print(i)
    i+=1
else:
    print('i jest większe o 19')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
i jest większe o 19

In [61]:
# operacje na pętlach
# pętla for

In [62]:
owoce=['truskawki','banany','jabłka']

In [63]:
for x in owoce:
    print(x)

truskawki
banany
jabłka

In [64]:
for x in 'Lukasz Tworzydlo':
    print(x)

L
u
k
a
s
z

T
w
o
r
z
y
d
l
o

In [65]:
owoce=['truskawki','banany','poziomka','jabłka','pomarańcze','kiwi']

In [66]:
# jak dziala przecięcie (break) w petli for

In [67]:
for i in owoce:
    if i=='poziomka':
        break
    print(i)

truskawki
banany

In [68]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [69]:
for x in range(4,10):
    print(x)

4
5
6
7
8
9

In [70]:
owoce=['truskawki','banany','poziomka','jabłka','pomarańcze','kiwi']
kolory=['czerwony','zolty','czarny','zielony','pomaranczowy','brazowy']

In [71]:
for x in kolory:
    for y in owoce:
        print(x,y)

czerwony truskawki
czerwony banany
czerwony poziomka
czerwony jabłka
czerwony pomarańcze
czerwony kiwi
zolty truskawki
zolty banany
zolty poziomka
zolty jabłka
zolty pomarańcze
zolty kiwi
czarny truskawki
czarny banany
czarny poziomka
czarny jabłka
czarny pomarańcze
czarny kiwi
zielony truskawki
zielony banany
zielony poziomka
zielony jabłka
zielony pomarańcze
zielony kiwi
pomaranczowy truskawki
pomaranczowy banany
pomaranczowy poziomka
pomaranczowy jabłka
pomaranczowy pomarańcze
pomaranczowy kiwi
brazowy truskawki
brazowy banany
brazowy poziomka
brazowy jabłka
brazowy pomarańcze
brazowy kiwi

In [72]:
# wyświetl parzyste liczby całkowite z przedziału <2,30>

for x in range(2,31):
    print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [73]:
for i in range(2,31,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [74]:
# wyświetl liczby całkowite z przedziału <6,35> krokiem 6

i=0

while i<35:
    i+=6
    if i>35:
        break
    print(i)

6
12
18
24
30

In [75]:
for x in range(6,35):
    if x%6==0:
        print(x)

6
12
18
24
30

In [76]:
for i in range(6,35,6):
    print(i)

6
12
18
24
30

In [77]:
# wyświetl liczby całkowite z przedziału <1000, 800> w porządku malejącym

for i in range(1000,799,-1):
    print(i)

1000
999
998
997
996
995
994
993
992
991
990
989
988
987
986
985
984
983
982
981
980
979
978
977
976
975
974
973
972
971
970
969
968
967
966
965
964
963
962
961
960
959
958
957
956
955
954
953
952
951
950
949
948
947
946
945
944
943
942
941
940
939
938
937
936
935
934
933
932
931
930
929
928
927
926
925
924
923
922
921
920
919
918
917
916
915
914
913
912
911
910
909
908
907
906
905
904
903
902
901
900
899
898
897
896
895
894
893
892
891
890
889
888
887
886
885
884
883
882
881
880
879
878
877
876
875
874
873
872
871
870
869
868
867
866
865
864
863
862
861
860
859
858
857
856
855
854
853
852
851
850
849
848
847
846
845
844
843
842
841
840
839
838
837
836
835
834
833
832
831
830
829
828
827
826
825
824
823
822
821
820
819
818
817
816
815
814
813
812
811
810
809
808
807
806
805
804
803
802
801
800

In [78]:
# napisz program liczący wartość bewzględną z liczby

x=-10
print(abs(x))

x=-5
if x<0:
    print(-x)
else:
    print(x)

10
5

In [79]:
# napisz program sprawdzający czy dana liczba jest parzysta czy niepatrzysta

x=6

if x%2==0:
    print('x jest liczbą parzystą')
else:
    print('x jest liczbą nieparzystą')

x jest liczbą parzystą

In [80]:
# napisz program podający najmniejszą liczbę z trzech liczb

a=3
b=1
c=2

if (a<b and a<c):
    print('a jest liczbą najmniejszą i wynosi:', a)
if (b<a and b<c):
    print('b jest liczbą najmniejszą i wynosi:', b)
if (c<a and c<b):
    print('c jest liczbą najmniejszą i wynosi:', c)

b jest liczbą najmniejszą i wynosi: 1

In [81]:
x=5
y=8
z=4

if x<y and x<z:
    print('x jest najmniejsza')
if y<x and y<z:
    print('y jest najmniejsza')
if z<x and z<y:
    print('y jest najmniejsza')

y jest najmniejsza

In [82]:
# napisać program, który będzie sprawdzać, czy podane
# liczby całkowite są ustawione w porządku rosnącym

x=5
y=8
z=4

if x<y and y<z:
    print('Liczby są ustawione w porządku rosnącym')
else:
    print('Liczby nie sa w porządku rosnącym')

Liczby nie sa w porządku rosnącym

In [83]:
# pobieranie oraz wyświetlanie imienia

x=input("Jak masz na imię? ")
print(x)

Jak masz na imię? Lukasz
Lukasz

In [84]:
# napisz program wyświetlający z przedziału <x,y> w porządku
# rosnącym i malejący. Wartości x i y mają być podane przez użytkownika

x=int(input("Podaj wartość w typie int x: "))
y=int(input("Podaj wartość w typie int y: "))
# można podać, przykładowo: x=1 oraz y=5

if x>y:
    x,y = y

# rosnąca kolejność liczb
for i in range(x,y+1):
    print(i)
    
# malejąca kolejnosc liczb
for i in range (y, x-1, -1):
    print(i)

Podaj wartość w typie int x: 1
Podaj wartość w typie int y: 5
1
2
3
4
5
5
4
3
2
1

In [85]:
# napisz program wypisujący wszystkie kwadraty liczb naturalnych\
# mniejsze od liczby podanej przez uzytkownika

liczba=int(input('Podaj liczbę: ')) # można podać liczbę np. 15
x=1

while(x*x < liczba):
    print(x*x)
    x += 1

Podaj liczbę: 15
1
4
9

In [86]:
# funkcje wbudowane

In [87]:
import math #importownie biblioteki math [pakiet wbudowanych funkcji]

In [88]:
# funkcje własne [tworzenie własnych funkcji]

In [89]:
def witaj():
    print("Legia Warszawa!")

In [90]:
witaj()

Legia Warszawa!

In [91]:
def moja_funkcja(kraj = 'Polski'):
    print('Pochodzę z ' + kraj)

In [92]:
moja_funkcja()

Pochodzę z Polski

In [93]:
moja_funkcja('Niemiec')

Pochodzę z Niemiec

In [94]:
def witaj(imie):
    return f"Witaj {imie}!"

podaj_imie = input("Podaj swoje imie: ")

print(witaj(podaj_imie))

Podaj swoje imie: Lukasz
Witaj Lukasz!

In [95]:
def witaj(imie, nick = 'Luki'):
    powitanie = f"Witaj {imie} zwany {nick}!"
    return powitanie

podaj_imie = input("Podaj swoje imie: ")
podaj_nick = input("Podaj swoj nick: ")

if len(podaj_nick)>0:
    a = witaj(podaj_imie, podaj_nick)
else:
    a = witaj(podaj_imie)

print(a)

Podaj swoje imie: Lukasz
Podaj swoj nick:
Witaj Lukasz zwany Luki!

In [96]:
# *args [parametry funkcji, gwiazdka powoduje dowolna liczba argumentów]

In [97]:
# należy uzywac nazwy 'args'

def SumaKwadratow(*args):
    print(args)
    SumaKw=0
    for liczba in args:
        SumaKw += liczba**2
    print(f"Suma kwadratow = {SumaKw}")

In [98]:
SumaKwadratow(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)
Suma kwadratow = 91

In [99]:
# to samo działa również z inną nazwą, lecz lepiej używać nazwy 'args'

def SumaKwadratow(*wsb):
    print(wsb)
    SumaKw=0
    for liczba in wsb:
        SumaKw += liczba**2
    print(f"Suma kwadratow = {SumaKw}")

In [100]:
SumaKwadratow(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)
Suma kwadratow = 91

In [101]:
# para klucz-wartosc przekazywanie argumentow
# **kwargs

In [102]:
def dziecko(**kwargs):
    print('On nazywa sie ' + kwargs['nazwisko'])

In [103]:
dziecko(imie='Mieszko',nazwisko='Pierwszy')

On nazywa sie Pierwszy

In [104]:
# obliczenie pola kwadratu

def PoleKwadratu(a):
    return a*a

In [105]:
PoleKwadratu(5)

25

In [106]:
# zadanie nr 15
# #--- Exercise 15 -----
# Policz sumę wartosci w pierwszej kolumnie

# input = [
# [1,'asdf'],
# [3, 'dsf'],
# [5, 'dsf'],
# [4, 'dsf'],
# [9, 'dsf'],
# [33, 'dsf'],
# [23, 'dsf']]

## method 1 - with numpy

## method 2 - basic method

In [107]:
# Method no 1 (NumPy)

In [110]:
import numpy as np

input = [
[1,'asdf'],
[3, 'dsf'],
[5, 'dsf'],
[4, 'dsf'],
[9, 'dsf'],
[33, 'dsf'],
[23, 'dsf']]

array_input = np.array(input) # przekonwertowanie listy wejściowej na tablicę NumPy
first_col = array_input[:, 0] # wybranie pierwszej kolumny
sum_first_col = np.sum(first_col.astype(int)) # zmiana wartości na int oraz ich zsumowanie
print(sum_first_col) # wyświetlenie wyniku

78

In [111]:
# Method no 2 (basic method)

In [112]:
input = [
[1,'asdf'],
[3, 'dsf'],
[5, 'dsf'],
[4, 'dsf'],
[9, 'dsf'],
[33, 'dsf'],
[23, 'dsf']]

sum_first_col = 0 # zainicjowanie sumy na zero
for row in input:
    sum_first_col += row[0] # dodanie wartości z pierwszej kolumny do sumy
print(sum_first_col) # wyświetlenie wyniku

78

In [113]:
# zadania nr 16-20

In [114]:
import pandas as pd
data_shops = [['Gdynia',100, 'Biedronka'], ['Gdansk',120, 'Biedronka'], ['Sopot',130, 'Lidl'], ['Gdynia',90, 'Lidl'], ['Gdansk',150, 'Kaufland'], ['Sopot', 200, 'Kaufland'], ['Gdansk', 160, 'Lidl'] ]
df_shops = pd.DataFrame(data_shops, columns=['City','Sales', 'Shops'])

In [115]:
# zadanie nr 16
# Wybierz sklepy Lidl z ramki danych df_shops.
# Choose Lidl show from df_shops data frame.

In [116]:
lidl_shops = df_shops[df_shops['Shops'] == 'Lidl']
print(lidl_shops)

     City  Sales Shops
2   Sopot    130  Lidl
3  Gdynia     90  Lidl
6  Gdansk    160  Lidl

In [117]:
# zadanie nr 17
# Sprawdz gdzie sprzedaz byla wieksza niz 150 (df_shops).
# Check where sales is higher than 150 (df_shops).

In [118]:
sales_higher_than_150 = df_shops[df_shops['Sales'] > 150]
print(sales_higher_than_150)

     City  Sales     Shops
5   Sopot    200  Kaufland
6  Gdansk    160      Lidl

In [119]:
# zadanie nr 18
# Sprawdz w ktorych sklepach w Gdansku i Sopocie sprzedaz przewyzszyla kwote 140. (df_shops)
# Check in what shops in Gdansk and Sopot sales is higher than 140.

In [120]:
gdansk_sopot_sales_higher_than_140 = df_shops[(df_shops['City'].isin(['Gdansk', 'Sopot'])) & (df_shops['Sales'] > 140)]
print(gdansk_sopot_sales_higher_than_140)

     City  Sales     Shops
4  Gdansk    150  Kaufland
5   Sopot    200  Kaufland
6  Gdansk    160      Lidl

In [121]:
# zadanie nr 19
# Wybierz wszystkie sklepy oprocz sopockich.
# Choose all shops except Sopot.

In [122]:
all_shops_except_sopot = df_shops[df_shops['City'] != 'Sopot']
print(all_shops_except_sopot)

     City  Sales      Shops
0  Gdynia    100  Biedronka
1  Gdansk    120  Biedronka
3  Gdynia     90       Lidl
4  Gdansk    150   Kaufland
6  Gdansk    160       Lidl

In [123]:
# zadanie nr 20
# Wybierz wszystkie sklepy Lidl w Gdansku i Sopocie, w ktorych sprzedaz byla wieksza niz 100 oraz mniejsza niz 210
# Choose all Lidl shops in Gdansk and Sopot where sales is higher than 100 and lower than 210.

In [124]:
lidl_shops_in_gdansk_sopot = df_shops[(df_shops['Shops'] == 'Lidl') & (df_shops['City'].isin(['Gdansk', 'Sopot'])) & (df_shops['Sales'] > 100) & (df_shops['Sales'] < 210)]
print(lidl_shops_in_gdansk_sopot)

     City  Sales Shops
2   Sopot    130  Lidl
6  Gdansk    160  Lidl